<script>
   import Imagenes from "../models/imagenesNasa";


   const result = Imagenes.find()

   cosole.log("==========>","pepepepepe")



</script>

<p>pepep</p>
{{console.log("pepe")}}